@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Josefin Sans", system-ui, sans-serif;
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
body{
  @apply flex justify-center
  lg:bg-desktop-hero-pattern
  md:bg-desktop-hero-pattern
  bg-mobile-hero-pattern
  dark:lg:bg-desktop-hero-pattern-dark
  dark:md:bg-desktop-hero-pattern-dark
  dark:bg-mobile-hero-pattern-dark
  bg-[length:100%_250px]
  bg-no-repeat
  dark:bg-veryDarkBlueDark
}
